bin/*exe
bin/*dll
bin/tmp

CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
# cmake

# bin
bin/*.sh
bin/generate_makefile.gcc.bat
bin/glslcompiler

# apitrace/renderdoc
*.trace
*.cap

# assets - sintel
assets/sintel_lite_v2_1/*.blend
assets/sintel_lite_v2_1/textures/*
assets/sintel_lite_v2_1/backup/*

# assets - Ratboy
assets/Ratboy/*.tfxbone
assets/Ratboy/Ratboy_body.tfxmesh
assets/Ratboy/Ratboy_left_hand.tfxmesh
assets/Ratboy/Ratboy_right_hand.tfxmesh
assets/Ratboy/Ratboy_short.tfx

# PDFs / AMD repo etc.
tressfx-reference
libs/amd_tressfx/src/Shaders

# misc
src/shaders/generated
imgui.ini
gh-images

# not used ATM
libs/stb/
